@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: 0.3s;
}
input {
  font-size: 30px;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  &:focus {
    box-shadow: 0 0 3px 2px rgb(75, 75, 75);
  }
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #888;
}
#search {
  margin-top: 5vh;
}
nav {
  width: 100vw;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  background-image: linear-gradient(rgb(29, 29, 29) 60%, rgba(0, 0, 0, 0) 100%);
}
a {
  color: white;
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 20px auto;
  font-size: 1.2rem;
  border-radius: 5px;
}
.stats {
  display: none;
}
