

.learning {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  .nextAnimation {
    animation: nextTile 1.5s;
  }
  .prevAnimation {
    animation: prevTile 1.5s;
  }
  .copy {
    z-index: -1;
  }
  .tile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 80%;
    max-width: 350px;
    height: 600px;
    background: linear-gradient(180deg, #cacaca 0%, #6b6b6b 100%);
    border-radius: 26px;
    overflow: hidden;
    transition: 0s;

    h3 {
      box-sizing: border-box;
      display: inline-block;
      text-align: left;
      font-size: 1.9rem;
      height: 40%;
      width: 100%;
      padding: 30px;
      user-select: none;
    }
    .strip {
      height: 3px;
      width: 85%;
      margin-left: 20px;
      background-color: #777;
    }
    .buttons {
      margin: auto;
      display: flex;
      width: 340px;
      justify-content: space-between;
      button {
        height: 80px;
        width: 80px;
        border-radius: 20px;
        background-color: rgb(168, 168, 168);
        border: 2px solid royalblue;
        i {
          font-size: 2rem;
          color: royalblue;
        }
        &:last-of-type {
          border-color: rgb(48, 175, 48);
          i {
            color: rgb(48, 175, 48);
          }
        }
      }
    }
  }
}
